In [3]:
import pandas as pd
import numpy as np

In [4]:
All = pd.read_excel('merge.xlsx', sheet_name=None)

In [5]:
h0 = pd.read_excel('merge.xlsx', sheet_name=0)
h0

           correo nombre país   teléfono columna     campo
0     a@gmail.com      A   CO  123456789     var   campo 1
1     b@gmail.com      B   CO  234567890     var   campo 2
2     c@gmail.com      C  ARG  345678901     var   campo 3
3     d@gmail.com      D  ARG  456789012     var   campo 4
4     e@gmail.com      E   BR  567890123     var   campo 5
5   f@hotmail.com      F   UY  678901234     var   campo 6
6   g@hotmail.com      G   VZ  789012345     var   campo 7
7   h@hotmail.com      H  BOL  890123456     var   campo 8
8   i@outlook.com      I   CL  901234567     var   campo 9
9   j@outlook.com      J   CL    1234567     var  campo 10
10    k@yahoo.com      K   PE    2345678     var  campo 11
11    l@yahoo.com      L  ECU    3456789     var  campo 12
12    m@yahoo.com      M   PE    4567890     var  campo 13
13   n@domain.com      N   CO    5678901     var  campo 14
14  o@outlook.com      O   PG    6789012     var  campo 15
15   p@domain.com      P   BR    7890123     var  campo 16

In [6]:
h1 = pd.read_excel('merge.xlsx', sheet_name=1)
h1

            correo nombre       país  teléfono columna     campo
0     aa@gmail.com     AA   Colombia  12345678    otro   field 1
1     bb@gmail.com     BB   Colombia  23456789    otro   field 2
2     cc@gmail.com     CC  Argentina  34567890    otro   field 3
3     dd@gmail.com     DD  Argentina  45678901    otro   field 4
4      e@gmail.com      E     Brasil  56789012    otro   field 5
5   ff@hotmail.com     FF    Uruguay  67890123    otro   field 6
6   gg@hotmail.com     GG  Venezuela  78901234    otro   field 7
7   hh@hotmail.com     HH    Bolivia  89012345    otro   field 8
8    i@outlook.com      I      Chile  90123456    otro   field 9
9   jj@outlook.com     JJ      Chile  98765432    otro  field 10
10    kk@yahoo.com     KK       Perú  87654321    otro  field 11
11    ll@yahoo.com     LL    Ecuador  76543210    otro  field 12
12    mm@yahoo.com     MM       Perú  65432109    otro  field 13
13   nn@domain.com     NN   Colombia  54321098    otro  field 14
14   o@outlook.com      O   Paraguay  43210987    otro  field 15
15   pp@domain.com     PP     Brasil  32109876    otro  field 16
16    q@domain.com     QQ  Venezuela  45678901   other  field 17
17    r@domain.com     RR     Panama  56789012   other  field 18
18      s@mail.com     SS    Ecuador  67890123   other  field 19
19      t@mail.com     TT   Paraguay  78901234   other  field 20
20      u@mail.com      U    Uruguay  89012345   other  field 21
21   v@outlook.com     VV  Argentina  90123456   other  field 22
22     w@gmail.com     WW  Argentina  98765432   other  field 23
23     x@gmail.com     XX      Chile  87654321   other  field 24
24     y@yahoo.com     YY   Colombia  76543210   other  field 25
25     z@gmail.com     ZZ       Perú  65432109   other  field 26

In [7]:
h2 = pd.read_excel('merge.xlsx', sheet_name=2)
h2

           correo país    fuente
0   f@hotmail.com  Col  fuente 1
1   g@hotmail.com  Ven  fuente 1
2   h@hotmail.com  Pnm  fuente 1
3   i@outlook.com  Bol  fuente 1
4   j@outlook.com  Ecu  fuente 1
5     k@yahoo.com   Pe  fuente 1
6     l@yahoo.com   Ch  fuente 1
7     m@yahoo.com  Arg  fuente 2
8    n@domain.com  Arg  fuente 2
9   o@outlook.com  Uyu  fuente 2
10   p@domain.com  Par  fuente 2
11    1@gmail.com  Bra  fuente 2
12    2@gmail.com  Bra  fuente 2
13  3@hotmail.com  Bra  fuente 3
14  4@hotmail.com  Col  fuente 3
15     5@mail.com  Ven  fuente 3
16   6@domain.com  Ecu  fuente 3
17     7@mail.com  Col  fuente 3
18    8@gmail.com   Pe  fuente 3
19  9@outlook.com   Ch  fuente 3

In [8]:
inner = pd.merge(h0, h1, how='outer', on='correo')
inner

,correo,nombre_x,país_x,teléfono_x,columna_x,campo_x,nombre_y,país_y,teléfono_y,columna_y,campo_y
0,a@gmail.com,A,CO,123456789.0,var,campo 1,NaN,NaN,NaN,NaN,NaN
1,b@gmail.com,B,CO,234567890.0,var,campo 2,NaN,NaN,NaN,NaN,NaN
2,c@gmail.com,C,ARG,345678901.0,var,campo 3,NaN,NaN,NaN,NaN,NaN
3,d@gmail.com,D,ARG,456789012.0,var,campo 4,NaN,NaN,NaN,NaN,NaN
4,e@gmail.com,E,BR,567890123.0,var,campo 5,E,Brasil,56789012.0,otro,field 5
5,f@hotmail.com,F,UY,678901234.0,var,campo 6,NaN,NaN,NaN,NaN,NaN
6,g@hotmail.com,G,VZ,789012345.0,var,campo 7,NaN,NaN,NaN,NaN,NaN
7,h@hotmail.com,H,BOL,890123456.0,var,campo 8,NaN,NaN,NaN,NaN,NaN
8,i@outlook.com,I,CL,901234567.0,var,campo 9,I,Chile,90123456.0,otro,field 9
9,j@outlook.com,J,CL,1234567.0,var,campo 10,NaN,NaN,NaN,NaN,NaN
10,k@yahoo.com,K,PE,2345678.0,var,campo 11,NaN,NaN,NaN,NaN,NaN
11,l@yahoo.com,L,ECU,3456789.0,var,campo 12,NaN,NaN,NaN,NaN,NaN
12,m@yahoo.com,M,PE,4567890.0,var,campo 13,NaN,NaN,NaN,NaN,NaN
13,n@domain.com,N,CO,5678901.0,var,campo 14,NaN,NaN,NaN,NaN,NaN
14,o@outlook.com,O,PG,6789012.0,var,campo 15,O,Paraguay,43210987.0,otro,field 15
15,p@domain.com,P,BR,7890123.0,var,campo 16,NaN,NaN,NaN,NaN,NaN
16,aa@gmail.com,NaN,NaN,NaN,NaN,NaN,AA,Colombia,12345678.0,otro,field 1
17,bb@gmail.com,NaN,NaN,NaN,NaN,NaN,BB,Colombia,23456789.0,otro,field 2
18,cc@gmail.com,NaN,NaN,NaN,NaN,NaN,CC,Argentina,34567890.0,otro,field 3
19,dd@gmail.com,NaN,NaN,NaN,NaN,NaN,DD,Argentina,45678901.0,otro,field 4
20,ff@hotmail.com,NaN,NaN,NaN,NaN,NaN,FF,Uruguay,67890123.0,otro,field 6
21,gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,GG,Venezuela,78901234.0,otro,field 7
22,hh@hotmail.com,NaN,NaN,NaN,NaN,NaN,HH,Bolivia,89012345.0,otro,field 8
23,jj@outlook.com,NaN,NaN,NaN,NaN,NaN,JJ,Chile,98765432.0,otro,field 10
24,kk@yahoo.com,NaN,NaN,NaN,NaN,NaN,KK,Perú,87654321.0,otro,field 11
25,ll@yahoo.com,NaN,NaN,NaN,NaN,NaN,LL,Ecuador,76543210.0,otro,field 12
26,mm@yahoo.com,NaN,NaN,NaN,NaN,NaN,MM,Perú,65432109.0,otro,field 13
27,nn@domain.com,NaN,NaN,NaN,NaN,NaN,NN,Colombia,54321098.0,otro,field 14
28,pp@domain.com,NaN,NaN,NaN,NaN,NaN,PP,Brasil,32109876.0,otro,field 16
29,q@domain.com,NaN,NaN,NaN,NaN,NaN,QQ,Venezuela,45678901.0,other,field 17
30,r@domain.com,NaN,NaN,NaN,NaN,NaN,RR,Panama,56789012.0,other,field 18
31,s@mail.com,NaN,NaN,NaN,NaN,NaN,SS,Ecuador,67890123.0,other,field 19
32,t@mail.com,NaN,NaN,NaN,NaN,NaN,TT,Paraguay,78901234.0,other,field 20
33,u@mail.com,NaN,NaN,NaN,NaN,NaN,U,Uruguay,89012345.0,other,field 21
34,v@outlook.com,NaN,NaN,NaN,NaN,NaN,VV,Argentina,90123456.0,other,field 22
35,w@gmail.com,NaN,NaN,NaN,NaN,NaN,WW,Argentina,98765432.0,other,field 23
36,x@gmail.com,NaN,NaN,NaN,NaN,NaN,XX,Chile,87654321.0,other,field 24
37,y@yahoo.com,NaN,NaN,NaN,NaN,NaN,YY,Colombia,76543210.0,other,field 25
38,z@gmail.com,NaN,NaN,NaN,NaN,NaN,ZZ,Perú,65432109.0,other,field 26

In [11]:
inner['nombre_x'].fillna(inner['nombre_y'], inplace=True)

In [12]:
inner

,correo,nombre_x,país_x,teléfono_x,columna_x,campo_x,nombre_y,país_y,teléfono_y,columna_y,campo_y
0,a@gmail.com,A,CO,123456789.0,var,campo 1,NaN,NaN,NaN,NaN,NaN
1,b@gmail.com,B,CO,234567890.0,var,campo 2,NaN,NaN,NaN,NaN,NaN
2,c@gmail.com,C,ARG,345678901.0,var,campo 3,NaN,NaN,NaN,NaN,NaN
3,d@gmail.com,D,ARG,456789012.0,var,campo 4,NaN,NaN,NaN,NaN,NaN
4,e@gmail.com,E,BR,567890123.0,var,campo 5,E,Brasil,56789012.0,otro,field 5
5,f@hotmail.com,F,UY,678901234.0,var,campo 6,NaN,NaN,NaN,NaN,NaN
6,g@hotmail.com,G,VZ,789012345.0,var,campo 7,NaN,NaN,NaN,NaN,NaN
7,h@hotmail.com,H,BOL,890123456.0,var,campo 8,NaN,NaN,NaN,NaN,NaN
8,i@outlook.com,I,CL,901234567.0,var,campo 9,I,Chile,90123456.0,otro,field 9
9,j@outlook.com,J,CL,1234567.0,var,campo 10,NaN,NaN,NaN,NaN,NaN
10,k@yahoo.com,K,PE,2345678.0,var,campo 11,NaN,NaN,NaN,NaN,NaN
11,l@yahoo.com,L,ECU,3456789.0,var,campo 12,NaN,NaN,NaN,NaN,NaN
12,m@yahoo.com,M,PE,4567890.0,var,campo 13,NaN,NaN,NaN,NaN,NaN
13,n@domain.com,N,CO,5678901.0,var,campo 14,NaN,NaN,NaN,NaN,NaN
14,o@outlook.com,O,PG,6789012.0,var,campo 15,O,Paraguay,43210987.0,otro,field 15
15,p@domain.com,P,BR,7890123.0,var,campo 16,NaN,NaN,NaN,NaN,NaN
16,aa@gmail.com,AA,NaN,NaN,NaN,NaN,AA,Colombia,12345678.0,otro,field 1
17,bb@gmail.com,BB,NaN,NaN,NaN,NaN,BB,Colombia,23456789.0,otro,field 2
18,cc@gmail.com,CC,NaN,NaN,NaN,NaN,CC,Argentina,34567890.0,otro,field 3
19,dd@gmail.com,DD,NaN,NaN,NaN,NaN,DD,Argentina,45678901.0,otro,field 4
20,ff@hotmail.com,FF,NaN,NaN,NaN,NaN,FF,Uruguay,67890123.0,otro,field 6
21,gg@hotmail.com,GG,NaN,NaN,NaN,NaN,GG,Venezuela,78901234.0,otro,field 7
22,hh@hotmail.com,HH,NaN,NaN,NaN,NaN,HH,Bolivia,89012345.0,otro,field 8
23,jj@outlook.com,JJ,NaN,NaN,NaN,NaN,JJ,Chile,98765432.0,otro,field 10
24,kk@yahoo.com,KK,NaN,NaN,NaN,NaN,KK,Perú,87654321.0,otro,field 11
25,ll@yahoo.com,LL,NaN,NaN,NaN,NaN,LL,Ecuador,76543210.0,otro,field 12
26,mm@yahoo.com,MM,NaN,NaN,NaN,NaN,MM,Perú,65432109.0,otro,field 13
27,nn@domain.com,NN,NaN,NaN,NaN,NaN,NN,Colombia,54321098.0,otro,field 14
28,pp@domain.com,PP,NaN,NaN,NaN,NaN,PP,Brasil,32109876.0,otro,field 16
29,q@domain.com,QQ,NaN,NaN,NaN,NaN,QQ,Venezuela,45678901.0,other,field 17
30,r@domain.com,RR,NaN,NaN,NaN,NaN,RR,Panama,56789012.0,other,field 18
31,s@mail.com,SS,NaN,NaN,NaN,NaN,SS,Ecuador,67890123.0,other,field 19
32,t@mail.com,TT,NaN,NaN,NaN,NaN,TT,Paraguay,78901234.0,other,field 20
33,u@mail.com,U,NaN,NaN,NaN,NaN,U,Uruguay,89012345.0,other,field 21
34,v@outlook.com,VV,NaN,NaN,NaN,NaN,VV,Argentina,90123456.0,other,field 22
35,w@gmail.com,WW,NaN,NaN,NaN,NaN,WW,Argentina,98765432.0,other,field 23
36,x@gmail.com,XX,NaN,NaN,NaN,NaN,XX,Chile,87654321.0,other,field 24
37,y@yahoo.com,YY,NaN,NaN,NaN,NaN,YY,Colombia,76543210.0,other,field 25
38,z@gmail.com,ZZ,NaN,NaN,NaN,NaN,ZZ,Perú,65432109.0,other,field 26